.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigation-logo-primary {
  color: var(--color-on-surface);
}
 
.navigation-navigation-logo-accent {
  color: var(--color-accent);
  position: relative;
}
 
.navigation-navigation-toggle-icon1 {
  display: flex;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg) scale(1);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-icon2 {
  display: flex;
  opacity: 0;
  position: absolute;
  transform: rotate(90deg) scale(0.8);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-glow {
  inset: -4px;
  filter: blur(12px);
  opacity: 0;
  z-index: 1;
  position: absolute;
  background: radial-gradient(circle, var(--color-accent), transparent);
  transition: opacity var(--animation-duration-standard)
      var(--animation-curve-primary);
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
