name: Notify Discord on Release

on:
  release:
    types: [published]

jobs:
  notify-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Send release info to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          apt-get update && apt-get install -y jq

          curl -X POST -H "Content-Type: application/json" \
            -d "$(jq -n \
              --arg username "VelocityBroadcast Reborn Update Bot" \
              --arg avatar_url "https://imgur.com/WuW15Aq.png" \
              --arg title "${{ github.event.release.name }}" \
              --arg description "${{ github.event.release.body }}" \
              --arg url "${{ github.event.release.html_url }}" \
              --argjson color 16711680 \
              '{
                username: $username,
                avatar_url: $avatar_url,
                embeds: [{
                  title: $title,
                  description: $description,
                  url: $url,
                  color: $color
                }]
              }')" \
            $DISCORD_WEBHOOK
